* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  font-size: 12px;
}
.callendar-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.callendar-header {
  margin-top: 20px;

  .year-header {
    font-size: 4rem;
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  .month-name {
    font-size: 3em;
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  .full-today-date {
    color: white;
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
}
